@tailwind base;
@tailwind components;
@tailwind utilities;

/* Added to utilities to allow to do things like "sm:large" md:h1" etc */
@layer utilities {
  .h1-sm {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.35px;
  }

  .h2 {
    font-family: var(--nunitoSans-font) !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.384px;
  }

  .h3 {
    font-family: var(--nunitoSans-font) !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.364px;
  }

  .h4 {
    font-family: var(--nunitoSans-font) !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.36px;
  }

  .p {
    font-family: var(--nunitoSans-font) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  @media (max-width: 640px) {
    .h2 {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.364px;
    }

    .h4 {
      font-size: 17px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.34px;
    }
  }
}
